/.vs/ProjectEvaluation
/.vs/Trials/DesignTimeBuild
/.vs/Trials/FileContentIndex
/.vs/Trials/v17
/Trials/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX
/Trials/bin/Debug/net7.0-windows10.0.19041.0/win10-x64
/Trials/obj/Debug/net7.0-android
/Trials/obj/Debug/net7.0-ios/iossimulator-x64
/Trials/obj/Debug/net7.0-maccatalyst/maccatalyst-x64
/Trials/obj/Debug/net7.0-windows10.0.19041.0/win10-x64
/Trials/obj
